<div class="modal-header">
  <h5 class="modal-title"><?=(@$data['id'])?'Edit':'Add';?> Data</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<form id="formData" method="POST" action="<?=$BASE?>/acomponent/saveData/<?=@$data['id']?>">
<div class="modal-body">
  <table class="table table-valign-top">
    <tr>
      <td>Title</td>
      <td>:</td>
      <td><input name="component" value="<?=@$data['title']?>" class="form-control" onKeyPress="return angkadanhuruf(event,'_.0123456789abcdefghijklmnopqrstuvwxyz',this)" required></td>
    </tr>
    <tr>
      <td>Module</td>
      <td>:</td>
      <td><input name="file" type="file" class="form-control" required></td>
    </tr>
  </table>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-default"><i class="fa fa-save"></i> Save</button>
  <button type="reset" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-remove"></i> Cancel</button>
</div>
</form>

<script type="text/javascript">
  $('#formData').submit(function(e) {
    e.preventDefault();
    $.ajax({
      url: $(this).attr('action'),
      type: 'POST',
      data: new FormData(this),
      contentType: false,
      cache: false,
      processData:false,
      dataType: 'JSON',
      success: function(data) {
        console.log(data);
        if(data._redirect==true) {
          LoadPage(data._page);
          LoadNotifikasi('success','<b>' + information + '</b><br>' + data._pesan);
        }else {
          LoadNotifikasi('danger','<b>' + warning + '</b><br>' + data._pesan);
        }
      }
    });
  });

  $('#submit').on('click', function() {
    $('#formData').submit();
  });
</script>